/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body{
    background:#fff;
}

/* TOP OFFER BAR */
.top-offer{
    background:#5f2eea;
    color:#fff;
    padding:14px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.offer-buttons button{
    padding:10px 18px;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    border:none;
}

.white-btn{
    background:#fff;
    color:#000;
    margin-right:10px;
}

.yellow-btn{
    background:#f5b301;
    color:#fff;
}

/* CONTACT BAR */
.contact-bar{
    background:#111;
    color:#fff;
    padding:12px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.contact-left span{
    margin-right:30px;
}

.contact-right i{
    margin-left:15px;
    cursor:pointer;
}

/* NAVBAR */
.navbar{
    background:#8cc63f;
    padding:20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#fff;
}

.nav-links{
    list-style:none;
    display:flex;
}

.nav-links li{
    margin:0 15px;
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    font-size:18px;
    transition: transform 0.3s ease-in-out;
}

.nav-links a:hover{
    transform: scale(1.1);
}

.buy-now{
    background:#f5b301;
    color:#fff;
    border:none;
    padding:12px 24px;
    border-radius:6px;
    font-size:18px;
    cursor:pointer;
}

/* HERO */
.hero{
    height:80vh;
    background:
        linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
        url("https://images.unsplash.com/photo-1542838132-92c53300491e");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#fff;
}

.hero-content h1{
    font-size:64px;
    margin-bottom:20px;
}

.hero-content h1 span{
    color:#8cc63f;
}

.hero-content p{
    font-size:20px;
    margin-bottom:30px;
}

.read-more{
    background:#8cc63f;
    border:none;
    padding:14px 36px;
    color:#fff;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
}

/* PROGRAM SECTION */
.program-section{
    background:#fbf8f2;
    padding:80px 40px;
    text-align:center;
}

.program-section h2{
    font-size:36px;
    margin-bottom:60px;
}

.program-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
}

.program-card{
    background:#fff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.05);
}

.program-card img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:8px;
}

.program-card h3{
    font-size:22px;
    margin:20px 0 10px;
}

.program-card p{
    font-size:16px;
    color:#555;
    line-height:1.6;
    margin-bottom:20px;
}

.program-card button{
    background:#8cc63f;
    color:#fff;
    border:none;
    padding:12px 28px;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
}

/* FEATURES */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin: 60px 40px;
}

.feature-card {
    display: flex;
    gap: 15px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    align-items: center;
    background:#fff;
}

.feature-card img {
    width: 45px;
}

.feature-card h3 {
    margin-bottom: 6px;
}

/* TITLE SECTIONS */
.title-section {
    text-align: center;
    margin-bottom: 60px;
}

.title-section h2 {
    color: #8cc63f;
    font-size: 36px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.divider span {
    width: 60px;
    height: 2px;
    background: #8cc63f;
}

.divider img {
    width: 18px;
}

.divider .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #8cc63f;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
    margin: 0 40px 80px;
}

.product-card {
    position: relative;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    overflow: hidden;
    padding: 25px;
    text-align: center;
    background:#fff;
}

.product-img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
    border-radius:8px;
}

.product-card h3 {
    margin-bottom: 6px;
}

.product-card p {
    color: gray;
    margin-bottom: 20px;
}

.product-card button {
    width: 100%;
    padding: 15px;
    background: #8cc63f;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius:8px;
}

.product-card button:hover {
    background: #78b52f;
}

/* BADGES */
.badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #ffb703;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
}

/* CATEGORY SECTION */
.product-category{
    background-color: rgb(213, 213, 219);
}

.categories-section {
    position: relative;
    background: url("images/img.jpeg") center/cover no-repeat;
    padding: 100px 40px;
    color: #fff;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    z-index: 1;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.category-card {
    background: #fff;
    color: #000;
    padding: 40px 30px;
    text-align: center;
    border-radius: 16px;
    transition: transform 0.3s ease;
}

.category-card:hover {
    transform: translateY(-10px);
}

.category-card img {
    width: 60px;
    margin-bottom: 20px;
}

.category-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.category-card p {
    font-size: 14px;
    color: #555;
}

/* BLOG SECTION */
.blogs h1 {
    text-align: center;
    color: #7fbf2f;
    margin-bottom: 30px;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: auto 0 80px;
}

.blog-card {
    display: flex;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.blog-img {
    position: relative;
    width: 45%;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.date {
    position: absolute;
    top: 10px;
    left: 130px;
    background: #7fbf2f;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
}

.blog-content {
    padding: 20px;
    width: 55%;
}

.blog-content h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.meta {
    color: #7fbf2f;
    font-size: 14px;
    margin-bottom: 10px;
}

.blog-content p {
    font-size: 14px;
    color: #555;
}

.blog-content a {
    color: #7fbf2f;
    text-decoration: none;
    font-weight: bold;
}

/* RESPONSIVE */
@media(max-width: 1024px){
    .program-container{ grid-template-columns: repeat(2,1fr);}
    .blog-grid{grid-template-columns: 1fr;}
}

@media(max-width: 768px){
    .program-container{ grid-template-columns: 1fr;}
    .categories-grid{grid-template-columns: 1fr;}
}
